.home {
  .home-profile {
    .home-disclaimer {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: normal;
      margin: 30px 0 0 0;
      padding: .5rem;
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }
    }
  }
}